.slide {
    display: none;
    justify-content: center;
    height: 100%;
    /* align-items: center; */
}

.slide--isActive {
    display: flex;
}

.slide-head {
    font-size: 1.5em;
}

.slide-content {
    /* margin-top: 70px; */
    font-size: 2em;
}

.slide-content--center {
    margin-top: 0;
    display: flex;
    align-items: center;
}